.nav-link.active{
    text-decoration: underline;
}

  body, html {
    margin: 0;
    padding: 0;
  }

  /* * {
    border: 1px solid red;
  } */
  
  main {
    width: 100vw;
  }

  .landing-page-photo {
    width: 100%; /* or specify a fixed size, e.g., width: 300px; */
    height: auto; /* maintains aspect ratio */
    object-fit: cover; /* ensures the image fills the container */
  }