.nav-link.active{
    text-decoration: underline;
}

.navbar {
  margin-bottom: 25px;  
  background-color: #b1ebfd;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  body, html {
    margin: 0;
    padding: 0;
  }

  main {
    width: 100vw;
  }
  h2{text-align: center;}